*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav{
    background-color: #19698f;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    hight:60px;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}

.nav .nav-links a {
    text-decoration: none;
    color: white;
}

.btn{
    background-color: #919ea3;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.fa-solid {
    color: rgb(202, 202, 202);
    font-size: 20px;
    margin-right: 10px;
}

.main{
    width: 100%;
    min-height: 100vh;
    margin-top: 60px;
}

.heading{
    text-align: center;
    margin: 10px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .box {
    height: 350px;
    width: 45%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* width: 400px; */
    text-align: center;
}

.container .box h2 {
    margin-bottom: 20px;
}

.cardForm {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}
.input-group input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.submit-btn {
    padding: 10px 15px;
    background-color: #19698f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #155a73;
}

.data-display {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-display .data-box {
    width: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
    /* color: #19698f; */
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}


.entry {
    width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: monospace;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

.info{
    width: 100%;
    text-align: center;
}

.website-name{
    font-weight: bold;
    width: 100%;
    text-align: center;
}


.entry span {
  cursor: pointer;
}
.entry span:hover {
  text-decoration: underline;
  color: #19698f;
}

.toast{
    position: fixed;
    top: 50px;
    right: 50%;
    background-color: #00ccff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.8s ease-in-out;
}


@media (max-width: 768px) {
    .main{
        margin-top: 110px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container .box {
        width: 90%;
        margin-bottom: 20px;
    }
    .nav {
        flex-direction: column;
        hight:100px;
    }
    .nav .nav-links {
        margin-top: 10px;
        flex-direction: row;
        gap: 10px;
    }
    .info{
        font-size: 18px;
    }
    
}
